*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
scroll-behavior:smooth;
}

body{
background:#08111f;
color:white;
line-height:1.7;
}

nav{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#0b1526;
box-shadow:0 5px 15px rgba(0,0,0,.4);
z-index:1000;
}

.logo{
font-size:28px;
font-weight:bold;
color:#3b82f6;
}

nav ul{
display:flex;
list-style:none;
}

nav li{
margin-left:25px;
}

nav a{
color:white;
text-decoration:none;
transition:.3s;
}

nav a:hover{
color:#3b82f6;
}

.hero{
display:flex;
justify-content:center;
align-items:center;
padding:140px 40px 80px;
flex-wrap:wrap;
}

.hero-text{
max-width:500px;
}

.hero-text h1{
font-size:60px;
margin-bottom:15px;
}

.hero-text h2{
color:#3b82f6;
margin-bottom:20px;
height:40px;
}

.hero-text p{
margin-bottom:25px;
font-size:18px;
}

.btn{
display:inline-block;
padding:14px 30px;
background:#2563eb;
color:white;
text-decoration:none;
border-radius:40px;
transition:.3s;
}

.btn:hover{
background:#1d4ed8;
transform:scale(1.05);
}

.hero-image img{
width:320px;
height:320px;
object-fit:cover;
border-radius:50%;
border:6px solid #2563eb;
box-shadow:0 0 35px rgba(37,99,235,.8);
margin:20px;
}

section{
padding:80px 20px;
max-width:1000px;
margin:auto;
}

section h2{
color:#3b82f6;
margin-bottom:25px;
font-size:35px;
}

.skill{
margin-bottom:20px;
}

.bar{
height:12px;
background:#1e293b;
border-radius:30px;
overflow:hidden;
}

.fill{
height:100%;
background:#2563eb;
}

.html{width:95%;}
.css{width:90%;}
.github{width:85%;}
.js{width:55%;}

.project{
background:#101b2d;
padding:25px;
margin-bottom:20px;
border-radius:15px;
transition:.3s;
}

.project:hover{
transform:translateY(-5px);
}

.gallery-photo{
width:260px;
border-radius:15px;
box-shadow:0 0 20px rgba(37,99,235,.7);
}

#contact a{
color:#60a5fa;
text-decoration:none;
}

footer{
text-align:center;
padding:30px;
background:#0b1526;
margin-top:60px;
}

@media(max-width:768px){

nav{
flex-direction:column;
padding:15px;
}

nav ul{
flex-wrap:wrap;
justify-content:center;
margin-top:10px;
}

.hero{
padding-top:180px;
text-align:center;
}

.hero-text h1{
font-size:42px;
}

.hero-image img{
width:240px;
height:240px;
}

}
